//------------------------------------------------
// Variables from colab-coop/src/styles/partials/variables.scss

$red:		  							#ed313d;

$gray-darkest:          #222;
$gray-dark: 		    		#747474;
$gray-medium:           #a8a9ad;
$gray-light:            #eee;
$gray-lighter:          #f9f9f9;

$border-default-light:  #e0e0e0;

$base-spacing: 10px;
$base-spacing-sm: $base-spacing / 2;
$base-spacing-lg: $base-spacing * 2;

//------------------------------------------------
// Editor-specific styles

body {
	padding: 0;
}

.nav {
	position: relative; top: auto; left: auto;
	margin-bottom: $base-spacing-lg;
}

.sidebar {
	position: fixed; top: 125px; right: $base-spacing-lg;
	z-index: 5000;
	height: 100%; width: 60px;

	.button--editor {
		margin-bottom: $base-spacing-lg;
	}
}

.button--editor {
	background: #f0f0f0;
	border-radius: 3px;
	cursor: pointer;
	line-height: 1;
	padding: 15px 9px;
	position: relative;
	text-align: center;

	&:hover {
		background: $red;
		color: #fff;
	}

}

.button--editor-text {
	font-size: 60%;
}

[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
	visibility: hidden;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	background: $gray-darkest;
	border-radius: 3px;
	content: attr(data-tooltip);
	font-size: 60%;
	padding: 10px;
	position: absolute; top: 50%; right: 115%;
	text-align: center;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	white-space: nowrap;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	border-style: solid;
	border-width: 7.5px 0 7.5px 7.5px;
	border-color: transparent transparent transparent $gray-darkest;
	content: " ";
	font-size: 0;
	line-height: 0;
	position: absolute; top: 50%; right: 105%;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	width: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.CodeMirror {
	font-family: Menlo, monospace;
	font-size: 13px;
	line-height: 1.4em;
	-webkit-font-smoothing: subpixel-antialiased;
	background: none;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.path {
	color: $gray-medium;
	font-size: 80%; /* .text--smaller */
}

.path a {
}

.path .current {
	color: $gray-darkest;
}

.row {
	position: relative;
}

.row a {
	background: #fff;
	border-radius: 3px;
	display: block;
	padding: 12px 15px;
	margin-bottom: 5px;
}

.row a:hover {
	background-color: #ed313d;
	color: #fff;

	#delete {
		background:rgba(0,0,0,.1);
		.icon-remove2 {
			color: #fff;
		}
		&:hover {
			background:rgba(0,0,0,.4)
		}
	}

}

.row .icon-folder {
	font-size: 80%;
	margin-right: 5px;
}

.row #delete {
	position: absolute; top: 0; right: 0;
	height: 100%; width: 40px;

	.icon-remove2 {
		color: $gray-medium;
		font-size: 80%;
		line-height: 1;
		text-align: center;
		width: 50%;
		position: absolute; top: 50%; left: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
}
